<%= form_with(model: project, local: true, html: { class: 'form' }) do |form| %>
    <% if project.errors.any? %>
      <div id="error_explanation" class="error">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
          <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'text-input' %>
    </div>
  
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'text-area' %>
    </div>
  
    <div class="actions">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
<% end %>
